.header
{
    text-align: center;
    background-color:orange;
    border-radius: 10px;
    color: white;
}

.uList
{
    color: aliceblue;
    background-color: #84A59D;
    border-radius: 10px;
}

.fImg
{
    border-radius: 35px;
}


.aStyle
{
    color: white;
    font-size: larger;
}

#divId
{
    margin-left: 30px;
    margin-top: 40px;
}

.imgDiv
{
    display: flex;
    justify-content: center;
}

.parDiv
{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}